@font-face {
    font-family: "poppins-extralight";
    src: url(./fonts/Poppins-ExtraLight.ttf)
}

@font-face {
    font-family: "poppins-semibold";
    src: url('\main/fonts/Poppins-SemiBold.ttf')
}

@font-face {
    font-family: "poppins-bold";
    src: url('\main/fonts/Poppins-Bold.ttf')
}

@font-face {
    font-family: "poppins-medium";
    src: url('\main/fonts/Poppins-Medium.ttf')
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

section.top-page {
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

body {
    background-color: #F5F5F5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
    font-family: 'poppins-semibold';
    font-size: 12px;
    cursor: pointer;
}

.top-page-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 150px 0px;
}

h1 .poppins-regular {
    font-family: 'poppins-extralight', 'sans-serif';
}

h1 .poppins-bold {
    font-family: 'poppins-bold', 'sans-serif';
}

h1 {
    font-size: 68px;
    letter-spacing: -4px;
    line-height: 100%;
    text-align: center;
}

h2 {
    font-size: 36px;
    letter-spacing: -0.5px;
    line-height: 100%;
    font-family: 'poppins-medium', 'sans-serif';
}

h3 {
    font-size: 18px;
    font-family: 'poppins-semibold', 'sans-serif';
    line-height: 110%
}

p {
    font-family: 'poppins-semibold', 'sans-serif';
    margin: 0;
    padding: 0;
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 120%;
}

p.gris {
    font-family: 'poppins-extralight', 'sans-serif';
    margin: 0;
    padding: 0;
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 110%;
    color: #828283;
}

p.identite {
    font-size: 24px;
}

.prix {
    color: #3D3E44;
    font-size: 30px;
    font-family: "poppins-medium", sans-serif;
    margin-bottom: 8px;
}

.tag,
.tag-station {
    display: flex;
    padding: 12px 12px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    gap: 8px;
}

.tag-rose {
    display: flex;
    padding: 12px 12px;
    border-radius: 8px;
    background-color: #FFDEFE;
    color: #B91DB3;
}

.top-page-content h2 {
    font-family: 'poppins-semibold', 'sans-serif';
    font-size: 14px;
    text-align: center;
    padding-bottom: 16px;
}

.bouton-primaire {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 16px 20px;
    border-radius: 99px;
    border: none;
    gap: 12px;
    background-color: #0E208F;
    color: #FFFFFF;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.bouton-primaire p {
    font-family: 'poppins-medium', 'sans-serif';
    font-size: 12px;
}

.bouton-primaire:hover {
    color: #333333;
    background-color: #FFF;
}

section.body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 180px;
}

section.equipe {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 24px;
}

.titre-equipe {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content {
    display: flex;
    gap: 24px;
}

.carte {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    background-color: #FFF;
    border-radius: 20px;
    width: 50%;
}

.carte-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.carte-header i {
    background-color: #F4F4F4;
    font-size: 30px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.carte-content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

.carte-content-coordonnees {
    display: flex;
    gap: 8px;
}

.carte-content-dispo {
    display: flex;
}

section.tarif {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 48px;
    height: 29rem;
}

.img-bureau {
    object-fit: cover;
    width: 100%;
    height: 29rem;
    border-radius: 20px;
}

.tarif-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tarif-titre {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
}

.content-bilan-seance-paiement {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content-bilan-seance {
    display: flex;
    gap: 24px;
}

.carte-bilan-seance {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #FFF;
    border-radius: 20px;
    width: 50%;
    gap: 16px;
}

.content-paiement {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #FFF;
    border-radius: 20px;
    gap: 16px;
}

.modalites-paiement {
    display: flex;
    gap: 16px;
}

section.rdv {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 16px;
}

.rdv-titre {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.rdv-content {
    display: flex;
    gap: 48px;
    height: 34.5rem;
}

.calendly {
    margin: -65px -80px;
    flex: 1;
    height: 680px;
}

.etapier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    padding-left: 48px;
}

.etape {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #FFF;
    border-radius: 20px;
    gap: 16px;
    max-width: 200px;
}

.tag-etape {
    display: flex;
}

.detail-etape {
    display: flex;
    max-height: fit-content;
    margin-top: auto;
}

section.venir {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 24px;
}

.venir-content {
    display: flex;
    padding: 24px;
    background-color: #FFF;
    border-radius: 20px;
    gap: 16px;
}

.map {
    flex: 1 0 0;
}

.map img {
    height: 375px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.adresse-transports {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.adresse {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.transport {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stations {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tag-station img {
    width: 45px;
    height: 22px;
}

.tag-station p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
}


@media screen and (max-width: 810px) {

    section.top-page {
        height: 650px;
    }

    .top-page-content {
        padding: 140px 0px;
    }

    header {
        padding: 24px;
    }

    header img {
        width: 30px;

    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 18px;
    }

    section.body {
        max-width: 500px;
        padding: 40px 20px;
        gap: 80px;
    }

    section.equipe {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .titre-equipe {
        gap: 16px;
    }

    .content {
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .carte {
        gap: 16px;
        padding: 20px;
        background-color: #FFF;
        border-radius: 20px;
        width: auto;
    }

    .carte-header {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .carte-header i {
        background-color: #F4F4F4;
        font-size: 30px;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    .carte-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .carte-content-coordonnees {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        width: fit-content;
    }

    .carte-content-dispo {
        justify-content: start;
    }



    section.tarif {
        display: flex;
        flex-direction: column;
        gap: 70px;
        padding-top: -50px;
        height: auto;
    }

    .img-bureau {
        height: 20rem;
    }

    .tarif-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .tarif-titre {
        gap: 16px;
        width: auto;
    }

    .content-bilan-seance-paiement {
        gap: 16px;
    }

    .content-bilan-seance {
        flex-direction: column;
        gap: 16px;
        width: auto;
    }

    .carte-bilan-seance {
        flex-direction: column;
        padding: 20px;
        width: auto;
    }

    .content-paiement {
        padding: 20px;
    }

    .modalites-paiement {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }




    .rdv-titre {
        gap: 16px;
        text-align: left;
    }

    .rdv-content {
        flex-direction: column;
        gap: 24px;
        height: auto;
    }

    .calendly {
        margin: 0;
        border-radius: 20px;
        padding: 4px;
        background-color: #FFF;
    }

    .calendly-inline-widget {
        height: 500px !important;

    }

    .etapier {
        gap: 16px;
        padding-left: 0;
    }

    .etape {
        padding: 20px;
        gap: 16px;
    }



    section.venir {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .venir-content {
        flex-direction: column;
        padding: 20px;
        gap: 16px;
    }


    .map img {
        height: 375px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

}
